
@font-face {
  font-family: 'Granjon';
  src: url('helvetica-light-587ebe5a59211.woff') format('woff');
  /* src: url('Granjon.woff2') format('woff2'),  */
  /* font-weight: 600; */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Granjon',Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}