// primary colors
$primary-black: #1b1b1b;
$primary-black-light: #313131;
$primary-gary: #c2c2c2;
$primary-info: #616161;
$bg-dark: #2b2d30;
$bg-white-smoke: #dfdfdf;
$bg-floral-white: #f3f3f3;
$bg-cream: #f5f5f5;
$bg-white-smoke-100: #d9d9d9;
$bg-white-smoke-200: #c0c4cc;
$text-grey: #767676;
$text-grey-light: #bab6ba;
$bg-white: #ffffff;

$bd-white-smoke: #ebebeb;

$color-red: #c51b00;
$color-dark: #242424;
$color-dark--15: #150c15;
$color-gray: #999999;
$color-gray-light: #494949;
$color-grey: #616161;
$color-grey-light: #e0e0e073;
$color-grey-dark: #443d44;
$color-grey-purple: #736d73;

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-lato: 'Lato', sans-serif;
