@import 'colors';

// Responsive breakpoints
$break-point-xs: 480px;
$break-point-xs-2: 576px;
$break-point-sm: 768px;
$break-point-md: 992px;
$break-point-lg: 1200px;
$break-point-lg-2: 1400px;
$break-point-xl: 1920px;
$screen-mob: 992px;
